@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>ADD A STYLIST</h1>
<hr/>
@using (Html.BeginForm())
{
  <span> | </span>  @Html.LabelFor(model => model.StylistName) <span> | </span> 
  @Html.TextBoxFor(model => model.StylistName) <span> | </span> 

  @Html.LabelFor(model => model.StylistDesc) <span> | </span> 
  @Html.TextBoxFor(model => model.StylistDesc) <span> | </span> 
<hr />
  <input type="submit" value="ADD" />
}