@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon </h1>
<hr />
<p></p>
<hr />
<p>@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
